@import '@fontsource-variable/noto-serif';

:root {
	font-size: 10px;
	font-family: 'Noto Serif Variable', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    font-size: 10px;
    background-image: 
        linear-gradient(#a9b1ba 1px, transparent 1px),
        linear-gradient(to right, #a9b1ba 1px, #8f96a1 1px);
    background-size: 20px 20px;
    background-repeat: repeat;
}

body::before { /* noise texture */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/noisetexture.jpg'); 
    opacity: 0.2;
    z-index: -1;
    background-size: 40px 40px;
    background-repeat: repeat;
    background-blend-mode: soft-light;
}
