@import '@fontsource-variable/noto-serif';

:root {
	font-size: 10px;
	font-family: 'Noto Serif Variable', sans-serif;
}

body {
	min-height: 100vh;
	margin: 0;
	background-image: linear-gradient(#a9b1ba 1px, transparent 1px), linear-gradient(to right, #a9b1ba 1px, #8f96a1 1px);
	background-size: 20px 20px;
	font-size: 10px;
}