@font-face {
	font-family: 'w95fa';
	src: url('/fonts/w95fa.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
  }

:root {
	--color-theme-1: #ff3e00;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: 'w95fa', sans-serif;
	color: var(--color-text);
	font-size: 20px;
}

body {
	min-height: 100vh;
	margin: 0;
	background-image: linear-gradient(#a9b1ba 1px, transparent 1px), linear-gradient(to right, #a9b1ba 1px, #8f96a1 1px);
	background-size: 20px 20px;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}
